.form_container {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: auto;
    text-align: left;
    font-size: 18px;
}

.form_container>label {
    margin: 8px 0px;
}

.form_container>input {
    height: 30px;
    padding: 3px;
    border-radius: 10px;
    border-color: grey;
}

.seudo_button {
    width: 150px;
    align-self: center;
    margin: 20px;
    background-color: green;
    font-weight: bolder;
    font-size: 16px;
}

.seudo_button:hover {
    background-color: gray;
}